# Секретные ключи и настройки
.env

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Виртуальное окружение (на будущее)
env/
venv/
.venv/

# Логи и временные файлы редактора
.vscode/
.idea/
*.log
